@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0; padding: 0;
    list-style: none;
    box-sizing: border-box;
}

*::placeholder,
input,
textarea,
pre{
    font-family: 'iceJaram-Rg';
    outline: none;
}

.font-normal {
    font-family: 'Pretendard-Regular';
}

body {
    background-color: #F3F4EE;
    font-family: 'iceJaram-Rg';
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
}




.center {
    text-align: center;
}

.title {
    padding-top: 80px;
    font-size: 45px;
}
.subtitle {
    padding-top: 20px;
    font-size: 25px;
}

.write-form {
    width: 1000px;
    margin: 50px auto;
}
.diary-mood {
    margin-bottom: 30px;
}
.diary-title,
.diary-weather{
    width: 100%;
    background: transparent;
    padding: 10px;
    border: 0;
    font-size: 30px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.diary-body {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    height: 300px;
    background: transparent;
    border: 0;
}
input[type="radio"] {
    width: 0px;
    height: 0px;
}
label img {
    height: 50px;
    filter: grayscale(100%);
    opacity: 0.3;
    cursor: pointer;
}
input:checked+label img {
    filter: none;
    opacity: 1;
    animation: grow 1s;
}
@keyframes grow{
    50% {
        transform: scale(110%);
    }
}

.mood-section {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;

}
.mood-icon {
    display: block;
    width: 70px;
}

.diary-container {
    text-align: center;
    margin-top: 100px;
}
.diary-container img {
    display: block;
    margin: 0 auto 20px;
}
.diary-container pre {
    font-size: 27px;
    margin: 20px 0;
}
.body-weather {
    font-size: 20px;
}
.body-title {
    position: relative;
    display: inline-block;
    font-size: 40px;
    z-index: 1;

    margin-bottom: 30px;
}
.body-title::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1px;
      height: 20px;
      z-index: -1;
      border-radius: 4px;
}
.body-title.HAPPY::after {
    background: linear-gradient(
            to right,
            rgba(254, 190, 88, 0.5),
            rgba(254, 190, 89, 0.8),
            rgba(254, 190, 88, 0.6)
    );
}
.body-title.SAD::after {
    background: linear-gradient(
            to right,
            rgba(154, 213, 206, 0.5),
            rgba(154, 213, 206, 0.8),
            rgba(154, 213, 206, 0.6)
    );
}
.body-title.SURPRISE::after {
    background: linear-gradient(
            to right,
            rgba(255, 157, 61, 0.5),
            rgba(255, 157, 61, 0.8),
            rgba(255, 157, 61, 0.6)
    );
}
.body-title.ANGRY::after {
    background: linear-gradient(
            to right,
            rgba(253, 67, 55, 0.25),
            rgba(253, 67, 55, 0.5),
            rgba(253, 67, 55, 0.4)
    );
}
.body-title.EXCITE::after {
    background: linear-gradient(
            to right,
            rgba(237, 108, 157, 0.25),
            rgba(237, 108, 157, 0.5),
            rgba(237, 108, 157, 0.4)
    );
}



.mode-change {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-image: url('/img/moon.png');
    cursor: pointer;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.btn {
    display: block;
    /*background-color: #333;
    color: #fff;
    padding: 10px ;*/
    text-align: center;
    text-decoration: none;
    border: 0;
}
.btn img {
    width: 25px;
}

/*하단*/
.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    font-size: 13px;
}